@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, sans-serif;;
}

image {
    width: 100%;
}

.container {
    width: min(90%, 1120px);
    margin-inline: auto;
}

header {
    background-color: #eaf0ff;
    height: 11rem;
    width: 100%;
    /* position: sticky; */
    top: 0;
}

.desktop-menu {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    /* margin-top: 2rem; */
}

.logo-header {
    
    position: absolute;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: #2c343b;
    font-family: 'Roboto', sans-serif;
     
}

.logo-header a {
    text-decoration: none;
    color: #362e26;
    font-size: 3rem;
}



.desktop-menu li {
    list-style: none;
}
.desktop-menu li a {
    text-decoration: none;
    
}


/* menus links */
.menus-links {
    display: flex; 
    gap: 5rem;
    margin-top: 5rem;
    /* text-transform: uppercase; */
}

.menus-links li {
    list-style: none;
}

.menus-links li a {
    font-family: 'specical', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #362e26;
}

.menus-links li a:hover {
    color: #db2434;
}


.hambeger {
    display: none;
}

.mobile-menu {
    display: none;
}


.mobile-menu-action {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 95%;
}   


.hero {
    display: flex;
    height: 76vh ;
    background: url("https://templatemo.com/templates/templatemo_507_victory/img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* display: block; */
   
    
}
.info-hero  {
    /* display: flex; */
    margin-top: 9rem;
    /* color: #eaf0ff; */
    
}

.info-hero h2 {
    margin-top: 2rem;
    font-size: 4rem;
    color: #ffffff;
    margin: 20px 0px 10px;
    font-family: 'Spectral', serif;
    font-weight: 600;
    
   
}

.info-hero h4{
    /* margin-top: 5rem; */
    font-size: 1.3rem;
    color: #ffffff;
    margin: 0px 0px 10px;
    text-transform: uppercase;
}

.info-hero p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.info-hero a {
    padding: 12px 20px;
    background-color: #f274f5;
    padding: 20px ;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;

}

.contact {
    display: flex;
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    margin-left: 3.5rem;
    
    
}



.cook-contact {
    background-color: #f2745f;
    text-align: center;
    padding: 30px;
    width: 390px;
    /* margin:20px; */
    
    
    
} 

.cook-contact h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;

}

.conatct-centent {
    margin-block: 3rem;
    text-align: center;
    padding:20px;
    background-color: #8b7979;
    border-radius: 10px;
}

.conatct-centent span {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    
} 

/* .conatct-centent h5 {
    margin-top: 1rem;
    font-size: 20px;
    color: #fff;
}



.cook-contact a {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 4rem;
    color: #db2434;
} */




@media(max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    i {
        z-index: 11111;
    }

     header {
        top: 0;
    } 

    .hambeger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5%;
        right: 10px;
        background-color: #848fda;
        padding: 10px 10px;
        border-radius: 50%;
        font-size: 2rem;
        width: 50px;
        height: 50px;
        color: white;
    }


    .mobile-menu {
        display: flex;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        justify-content: center;
        color: white;
        transform: translatey(0%);
        transition: transform 350ms ease-in-out;
        
       }
         
       .mobile-menu[data-visible="false"] {
           transform: translatey(100%);
       }
   
       .hambeger i[data-visible="true"] {
           display: block;
       }
       
       .hambeger i[data-visible="false"] {
        display: none;
    }

    
   .mobile-menu .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 3px;
    width: 100%;

     
   }

   .mobile-menu .navigation .menus-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
   .menus-links li a {
    color: rgb(245, 227, 227);
   }

   /* .hero {
    width: 100%;
    height: 100%;
   } */

   /* .contact {
    flex-direction: column;
    margin-left: -0.018rem;
    
   }

   .contact img {
    overflow: hidden;
    width: 90%;
    margin-left: 30px;
   } */


}